@font-face {
  font-family: Felix-Titling;
  src: url(fonts/Felixti.TTF);
}

body {
  margin: 0;
  font-family: Felix-Titling;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
